<div class="container">
  <!-- Mostra la tabella solo se ci sono dati -->
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Definizione delle colonne -->
    <ng-container
      *ngFor="let columnName of displayedColumns"
      [matColumnDef]="columnName"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ columnName }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[columnName] }}</td>
    </ng-container>

    <!-- Definizione righe della tabella -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- Spazio tra la tabella e il paginator -->
  <div class="spacer"></div>

  <!-- Paginazione -->
  <mat-paginator
    *ngIf="pagination"
    [pageSize]="pageSize"
    [pageIndex]="page"
  ></mat-paginator>
</div>
